<div class="location-style">
	<h1 class="friends-header"> Friends </h1>
	
	<table>
		<th class="friend-name">Friends name</th>		
		<% @user.friendships.each do |friendship|%>
		<tr>
			<td class="friend-remove"><%= friendship.friend.username %></li>
			<td><%= link_to "- Remove Friend", friendship, class: "btn btn-danger remove-friendship btn-md", method: :delete %></span>
		</tr>
		<% end %>
	</ul>
</div>