<div class="location-style">
	<h1 class="add-location">Enter a Place name You will like to share with friends</h1>

	<%= render 'form', location: @location %>

	<%= link_to 'Back', locations_path %>
</div>
